.menuTren .logo_canon{
    max-width: 45%;
    padding: 20px 20px 10px 0;
}
.menuTren{
    display: flex;
}
.menuTren .menu_phai{
    position: relative;
    left: 150px;
    top: 10px;
}
.menuTren span .VN{
    color: #6f6f6f;
    font-size: 20px;
    line-height: 16px;
    margin-top: 20px;
}
.menuTren ul{
    list-style: none;
    display: flex;
    margin-top: 50px;
}

.menuTren ul li a{
    color: #c5c5c5;
    text-decoration: none;
    padding: 10px 10px;

}
.menuTren ul li a img{
    margin-top: -12px;
}
.menuTren ul li:hover a{
    color: #ec1d24;
}
.chuDo{
    color: red;
    font-weight: bold;
}
#menu_2{
    background-color: #353535;
    height: 40px;
}
.menuDuoi{
    display: flex;
}
#menu_2 ul{
    list-style: none;
}
#menu_2 ul li, .menuDuoi li a{
    text-decoration: none;
    display: inline-block;
}
#menu_2 ul li a{
    color: #fff;
    padding: 13px 10px;
}
#menu_2 ul li:hover a{
    color: #ec1d24;
}
.v1{
    position: relative;
    margin-bottom: 400px;
}
#v2{
    position: absolute;
    top: 490px;
    left: 100px;
}
.v1 img{
    width: 100%;
}
#v2 a, .vung3 a , .vung4 a, #v5 a{
    text-decoration: none;
}
#v2 h3, .v3_2 h3, .v4_2 h3, #v5 h3{
    font-weight: 300;
    margin-bottom: 20px;
    font-size: 24px;
    line-height: 32px;
    color: #353535;
   
}
#v2 h3:hover, .v3_2 h3:hover, .v4_2 h3:hover, #v5 h3:hover{
    color: #ec1d24;
    text-decoration: none;
}
.vung3 .col-md-6{
    position: relative;
}
.phoBien, .moi{
    background-color: #ec1d24;
    border: 1px solid #ec1d24;
    color: #fff;
    text-align: center;
    padding: 8px 14px;
    border-radius: 20px;
    font-size: 13px;
    font-weight: 300;
    position: absolute;
    top: 10px;
    right: 10px;
}

.Kiet{
    background-color: #fff;
    border: 1px solid rgb(246, 250, 247);
    border-radius: 8px;
    text-align: center;
    width: 100%;
    position: relative;
}
.v3_1{
    text-align: center;
}
.v3_2 p, .v4_2 p , #v5 p{
    color: #6f6f6f;
    font-size: 16px;
    line-height: 26px;
}
.nutDo{
    background-color: #ec1d24;
    color: #fff;
    text-align: center;
    border: 1px solid #ec1d24;
    border-radius: 50px;
    display: block;
    padding: 14px 32px;
}
.nutDo:hover{
    background-color: #800b0f;
}
.nutTrang{
    background-color: #fff;
    color: #ec1d24;
    border: 1px solid #ec1d24;
    text-align: center;
    border-radius: 50px;
    display: block;
    padding: 10px 24px;
    float: right;
    font-weight: 600;
}
.vung3{
    background-color: #fff;
}
#v4 h1{
    font-family: "Lato", sans-serif;
    position: relative;
    font-size: 36px;
    line-height: 26px;
    color: #6f6f6f;
}
#v5 img{
    max-width: 100%;
}
#v4 ,#v5{
    margin-bottom: 50px;
}
#v6 ul{
    list-style: none;
}
#v6 li{ 
 
   
    padding: 6px 2px;
}
#v6 li a{
    text-decoration: none;
    color: #333333;
    font-size: 14px;
}
#v6 li:hover a{
    color: #ec1d24;
}
#v6 ul p{
    color: #999999;
    font-weight: 700;
    font-size: 16px;
}
#backtop{
    height: 50px;
    width: 50px;
    color: #bdbfd4;
    display: flex;
    justify-content: center;
    align-items: center;
    float: right;
    font-size: 20px;
    margin-bottom: 10px;
    border: 1px solid #9a9a9a;
    border-radius: 50%;
    text-align: center;
    justify-content: center;
    justify-items: center;
  }
#v7 img{
    width: 12%;
}
.vung7{
    margin: 30px 0;
    border-top: 1px solid #000;
    padding: 20px 0;
}
#v7{
    background-image: url(img/ngoiSao.svg);
    background-repeat: no-repeat;
    background-position: 1240px;
    bottom: 0;
    right: 0;

}
#v7 p{
    color: #999;
}